<!DOCTYPE html>

<head>
  <title>MCPS Scheduler V2</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{url_for('static',filename='styles/styles.css')}}"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Compare schedules with your friends and look up classes in the Course Directory!"
  />
</head>

<body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{url_for('index')}}"> MCPS Scheduler V2 </a>
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{url_for('index')}}">Schedule</a>
        <a class="navbar-item" href="{{url_for('directory')}}"
          >Course Directory</a
        >
      </div>
    </div>
  </nav>
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">MCPS Scheduler V2</p>
      <p class="subtitle">
        Made with love by Dhruva Arun and Stephen Zhang. Check out the new
        <a href="{{url_for('directory')}}" class="has-text-link"
          >Course Directory</a
        >!
      </p>
    </div>
  </section>
  {% block content %} {% endblock %}

  <script>
    const burger = document.querySelector(".navbar-burger");
    const menu = document.querySelector(".navbar-menu");

    burger.addEventListener("click", () => {
      burger.classList.toggle("is-active");
      menu.classList.toggle("is-active");
    });
  </script>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MCPS Scheduler V2</strong> by Dhruva Arun and Stephen Zhang. For
        technical inquiries DM srzhang on discord. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
        website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC ANS 4.0</a
        >.
      </p>
      <p>
        If you're scared of security, you can check out the source code on
        <a href="https://github.com/szhanggg/mcps-scheduler-v2">Github</a>.
      </p>
    </div>
  </footer>
</body>
